body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
}

.container11 {
  width: 80%;
  margin: 50px auto;
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  color: #333;
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  margin: 10px 0;
}

.contact-info strong {
  font-weight: bold;
  margin-right: 10px;
}

.logout-btn {
  display: block;
  width: 50%;
  padding: 5px;
  margin-top: 1px;
  margin-right: 100px;
  background-color: #ff4c4c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #ff1c1c;
}
